/* Estilos generales */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    height: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    background-color: #0B0B0B;
    color: #EAEAEA;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul, ol {
    list-style: none;   /* Elimina los bullets o números */
    margin: 0;          /* Elimina márgenes por defecto */
    padding: 0;         /* Elimina el padding por defecto */
}
.contenedor {
    min-width: 80%;
}
.no_scroll {
    overflow: hidden;
}
.active {
    color: #53baff !important;
    border-bottom: .2rem solid #53baff;
    padding: 1rem;
}

/* Footer */
footer {
    padding: 2rem 0;
    text-align: center;
    font-size: 1rem;
}

/* Barra Navegacion general*/
.barra_navegacion {
    max-width: 100rem;
    margin: 2rem auto;
}
.barra_navegacion_lista {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.barra_navegacion_lista_item {
    color: #EAEAEA;
    text-decoration: none;
    transition: transform .3s ease-in;
}

.barra_navegacion_lista_item:hover {
    color: #53baff;
    transform: scale(1.1);
}

/*/////// INICIO ///////*/

/* Barra Navegacion inicio */
.contenedor_barra_navegacion_inicio{
    display: flex;
    align-items: center;
}
.barra_navegacion_inicio {
    max-width: 100rem;
    margin: 2rem auto;
}
.barra_navegacion_lista_inicio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    padding: 1rem;
}

.barra_navegacion_lista_inicio a{
    position: relative;
    transition: color 0.3s ease;
}

.barra_navegacion_lista_inicio a::after{
    content: "";
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 0%;
    height: .3rem;
    background-color: #53baff;
    transition: width 0.3s ease;
}

.barra_navegacion_lista_inicio a:hover {
    color:  #53baff;
}

.barra_navegacion_lista_inicio a:hover::after {
    width: 100%;
}

.barra_navegacion_lista_item_inicio {
    color: #EAEAEA;
    font-size: 5rem;
    text-decoration: none;
}


/* Main */
.inicio {
    display: flex;
    justify-content: space-between;
    max-width: 100rem;
}
.inicio_texto {
    position: relative;
    display: inline-block;
}

.inicio_texto::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2rem;
    width: 5rem;
    height: 5rem;
    border-top: .2rem solid #EAEAEA;
    border-left: .2rem solid #EAEAEA;
}

.inicio_texto h1 {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.inicio_texto_saludo {
    font-size: 6rem;
    text-align: start;
}
.inicio_texto_nombre {
    font-size: 10rem;
    text-align: start;
}
.inicio_texto h3{
    font-size: 6rem;
    margin-top: 8rem;
    background: linear-gradient(270deg,  
    #53baff,
    #00ffff,
    #e0faff,
    #53baff,
    #00ffff);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moverColor 6s ease infinite
}

@keyframes moverColor {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*/////// PROYECTOS ///////*/
.contenedor_proyectos {
    max-width: 100rem;
}
.contenedor_proyectos h1 {
    font-size: 7rem;
    font-family: "Monoton", sans-serif;
    text-align: center;
}
.proyecto {
    background-color: #1A1A1A;
    border-radius: 2rem;
    display: flex;
    margin-top: 5rem;
    padding: 1rem;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.proyecto:hover {
    transform: scale(1.05);
    border: .2rem solid #53baff;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.6); /* Aumenta la sombra al hacer hover */
}
.proyecto a {
    width: 150rem;
    height: 30rem;
}
.proyecto a img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
}
.proyecto_texto {
    width: 150rem;
    height: 30rem;
    margin-left: 2rem;
    display: grid;
    gap: 0;
}
.proyecto_texto_titulo  {
    background: linear-gradient(270deg,  
    #53baff,
    #00ffff,
    #e0faff,
    #53baff,
    #00ffff);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moverColor 6s ease infinite
}
.proyecto_texto_descripcion {
    height: 12rem;
    overflow-y: auto;
    padding-right: 1rem;
}
.proyecto_texto_descripcion::-webkit-scrollbar {
    width: 6px;
}
.proyecto_texto_descripcion::-webkit-scrollbar-thumb {
    background-color: #53baff;
    border-radius: 1rem;
}
.proyecto_texto_tecnologias {
    height: 5rem;
}

/* Estilos para la imagen con efecto zoom al hacer hover */
.proyecto-link {
    border-radius: 2rem;
    display: inline-block;
    overflow: hidden;
    position: relative;
    max-width: 50rem;
    max-height: 50rem;
}

.proyecto-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilo opcional para el overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro transparente */
    color: white;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.proyecto-link:hover .overlay {
    opacity: 1;
}

/*/////// SOBRE MI ///////*/
.contenedor_sobre_mi {
    margin: 0;
    max-width: 100rem;
}
.contenedor_sobre_mi h1 {
    font-size: 7rem;
    font-family: "Monoton", sans-serif;
    text-align: center;
}
.sobre_mi {
    display: flex;
    justify-content: center;
}
.sobre_mi_texto {
    width: 70rem;
    height: 100rem;
    padding: 5rem;
    position: relative;
}
.sobre_mi_texto h3 {
    position: relative;
}
.sobre_mi_texto h3::before{
    content: "";
    position: absolute;
    top: 0;
    left: -2rem;
    width: 0;
    height: 43.5rem;
    border-top: .2rem solid #EAEAEA;
    border-left: .2rem solid #EAEAEA;
}

.sobre_mi_texto h3 span {
    background: linear-gradient(270deg,  
    #53baff,
    #00ffff,
    #e0faff,
    #53baff,
    #00ffff);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moverColor 6s ease infinite
}

.sobre_mi_img {
    width: 50rem;
    height: 50rem;
}
.sobre_mi_img img {
    margin-right: 0;
    mask-image: linear-gradient(
        black 80%,
        transparent
    );
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*/////// HABILIDADES ///////*/
.section_habilidades h1{
    font-size: 7rem;
    font-family: "Monoton", sans-serif;
    text-align: center;
}
.section_habilidades_contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
}
.section_habilidades_item {
    background-color: #1A1A1A;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    transition: transform .3s ease, box-shadow .3s ease;
}
.section_habilidades_item:hover i, .section_habilidades_item:hover .habilidades_titulo {
    background: linear-gradient(270deg,  
    #53baff,
    #00ffff,
    #e0faff,
    #53baff,
    #00ffff);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moverColor 4s ease infinite
}
.section_habilidades_item:hover {
    transform: scale(1.05);
    border: .2rem solid #53baff;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.6); /* Aumenta la sombra al hacer hover */
}
.habilidades_icono{
    font-size: 10rem;
}
.habilidades_titulo {
    margin: .5rem;
}
/*/////// CONTACTO ///////*/
.titulo_seccion {
    font-size: 7rem;
    font-family: "Monoton", sans-serif;
    text-align: center;
}

.formulario_contacto {
    background-color: #141414;
    border-radius: 2rem;
    padding: 2rem;
    display: grid;
    gap: 2rem;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.4);
    transition: transform .3s ease;
    max-width: 100rem;
    margin: auto;
}
.formulario_contacto:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.6);
}
.formulario_contacto_campo {
    border-radius: 2rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    background-color: #1A1A1A;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.4);
}
.formulario_contacto_campo label {
    font-size: 3rem;
}
.formulario_contacto_campo input {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    padding: 1rem;
    border-style: none;
    border-radius: 1rem;
    background-color: #EAEAEA;
    color: #0B0B0B;
    width: 100%;
}
.formulario_contacto_campo input:focus {
    outline: none;
}
.formulario_contacto_campo input::placeholder {
    color: #999;
    opacity: 0.8;
}
.formulario_contacto_btn {
    display: flex;
    justify-content: end;
}
.formulario_contacto_btn button {
    background-color: #53baff;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    padding: 1rem;
    color: #EAEAEA;
}
.formulario_contacto_btn button:hover {
    background: linear-gradient(270deg,  
    #53baff,
    #00ffff,
    #e0faff,
    #53baff,
    #00ffff);
    background-size: 800% 800%;
    animation: moverColor 4s ease infinite
}