/* Estilos generales */
html{
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-size: 2rem;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
ul, ol {
    list-style: none;   /* Elimina los bullets o números */
    margin: 0;          /* Elimina márgenes por defecto */
    padding: 0;         /* Elimina el padding por defecto */
}
.contenedor {
    border: .2rem solid black;
    min-width: 80%;
}

/* Barra Navegacion */
.barra_navegacion {
    max-width: 100rem;
    margin: 2rem auto;
}
.barra_navegacion_lista {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.barra_navegacion_lista_item {
    text-decoration: none;
}

/*/////// INICIO ///////*/

/* Main */
.inicio {
    border: .2rem solid black;
    display: flex;
    justify-content: center;
    max-width: 100rem;
}
.inicio_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: .2rem solid black;
    width: 40rem;
    height: 40rem;
}
.inicio_texto h1{
    font-size: 4rem;
    margin-bottom: 0;
}
.inicio_texto h3{
    font-size: 3rem;
    margin-top: 0;
}
.inicio_imagen {
    border: .2rem solid black;
    width: 40rem;
    height: 40rem;
}
.inicio_imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Footer */
footer {
    text-align: center;
}

/*/////// PROYECTOS ///////*/
.contenedor_proyectos {
    border: .2rem solid black;
    max-width: 100rem;
}
.contenedor_proyectos h1 {
    text-align: center;
}
.proyecto {
    display: flex;
    margin-top: 5rem;
}
.proyecto a {
    border: .2rem solid black;
    max-width: 50rem;
    max-height: 50rem;
}
.proyecto a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.proyecto_texto {
    margin-left: 2rem;
}
.proyecto_texto_titulo  {

}
.proyecto_texto_descripcion {

}

/* Estilos para la imagen con efecto zoom al hacer hover */
.proyecto-link {
    display: inline-block;
    overflow: hidden;
    position: relative;
    border: .2rem solid black;
    max-width: 50rem;
    max-height: 50rem;
}

.proyecto-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.proyecto-link:hover img {
    transform: scale(1.05); /* Ligero zoom */
}

/* Estilo opcional para el overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro transparente */
    color: white;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.proyecto-link:hover .overlay {
    opacity: 1;
}

/*/////// SOBRE MI ///////*/
.contenedor {
    border: .2rem solid black;
}
.contenedor_sobre_mi {
    max-width: 100rem;
}
.contenedor_sobre_mi h1 {
    text-align: center;
}
.sobre_mi {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sobre_mi_texto {
    padding: 2rem;
}
.sobre_mi_img {
    width: 50rem;
    height: 50rem;
}
.sobre_mi_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*/////// HABILIDADES ///////*/
.contenedor_habilidades {
    padding: 2rem;
}
.contenedor_habilidades h1 {
    text-align: center;
}
/*/////// CONTACTO ///////*/
.contenedor h1 {
    text-align: center;
}
.formulario_contacto {
    border: .2rem solid black;
    padding: 2rem;
}
.formulario_contacto_campo {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.formulario_contacto_btn {
    display: flex;
    justify-content: end;
}
.formulario_contacto_btn button {

}
