/* Estilos generales */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    height: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 2rem;
}
h1, h2, h3 {

}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul, ol {
    list-style: none;   /* Elimina los bullets o números */
    margin: 0;          /* Elimina márgenes por defecto */
    padding: 0;         /* Elimina el padding por defecto */
}
.contenedor {
    min-width: 80%;
}
.no_scroll {
    overflow: hidden;
}

/* Footer */
footer {
    padding: 2rem 0;
    text-align: center;
}

/* Barra Navegacion general*/
.barra_navegacion {
    max-width: 100rem;
    margin: 2rem auto;
}
.barra_navegacion_lista {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.barra_navegacion_lista_item {
    text-decoration: none;
}

/*/////// INICIO ///////*/

/* Barra Navegacion inicio */
.contenedor_barra_navegacion_inicio{
    display: flex;
    align-items: center;
}
.barra_navegacion_inicio {
    max-width: 100rem;
    margin: 2rem auto;
}
.barra_navegacion_lista_inicio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    padding: 1rem;
}
.barra_navegacion_lista_item_inicio {
    font-size: 5rem;
    text-decoration: none;
}


/* Main */
.inicio {
    display: flex;
    justify-content: space-between;
    max-width: 100rem;
}
.inicio_texto h1 {
    margin: 0;
    padding: 0;
}
.inicio_texto_saludo {
    font-size: 10rem;
    text-align: start;
}
.inicio_texto_nombre {
    font-size: 15rem;
    text-align: start;
}
.inicio_texto h3{
    font-size: 6rem;
    margin-top: 8rem;
}

/*/////// PROYECTOS ///////*/
.contenedor_proyectos {
    max-width: 100rem;
}
.contenedor_proyectos h1 {
    text-align: center;
}
.proyecto {
    display: flex;
    margin-top: 5rem;
}
.proyecto a {
    max-width: 50rem;
    max-height: 50rem;
}
.proyecto a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.proyecto_texto {
    margin-left: 2rem;
}
.proyecto_texto_titulo  {

}
.proyecto_texto_descripcion {

}

/* Estilos para la imagen con efecto zoom al hacer hover */
.proyecto-link {
    display: inline-block;
    overflow: hidden;
    position: relative;
    max-width: 50rem;
    max-height: 50rem;
}

.proyecto-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.proyecto-link:hover img {
    transform: scale(1.05); /* Ligero zoom */
}

/* Estilo opcional para el overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro transparente */
    color: white;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.proyecto-link:hover .overlay {
    opacity: 1;
}

/*/////// SOBRE MI ///////*/
.contenedor_sobre_mi {
    max-width: 100rem;
}
.contenedor_sobre_mi h1 {
    text-align: center;
}
.sobre_mi {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sobre_mi_texto {
    padding: 2rem;
}
.sobre_mi_img {
    width: 50rem;
    height: 50rem;
}
.sobre_mi_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*/////// HABILIDADES ///////*/
.contenedor_habilidades {
    padding: 2rem;
}
.contenedor_habilidades h1 {
    text-align: center;
}
/*/////// CONTACTO ///////*/
.formulario_contacto {
    padding: 2rem;
}
.formulario_contacto_campo {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.formulario_contacto_btn {
    display: flex;
    justify-content: end;
}
.formulario_contacto_btn button {

}